<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HSESport</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HSESport_web_app_trial2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between">
                <a class="navbar-brand me-3" asp-controller="Home" asp-action="Index"><img src="/images/hse-sport-logo.png" alt="HSE Sport Logo" style="width: 110px; height: 30px; vertical-align: middle;"></a>

                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item" style="text-align: center; vertical-align: middle">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Schedule" asp-route-userRole="">Расписание секций</a>
                    </li>
                </ul>

                <div style="text-align: right; width: 100%;">
                    <div style="display: inline-block;">
                        <a class="nav-link text-dark ms-auto" asp-area="" asp-controller="Home" asp-action="StudentAuthorization" asp-route-userRole="">Войти</a>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <main>
           @RenderBody() 
    </main>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2025 - HSESport |
            <a asp-area="" asp-controller="Home" asp-action="Help" asp-route-userRole="">Техническая поддержка</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
