@model List<(DateOnly? AttendanceDate, string StudentName)>
@{
    ViewData["Title"] = "Информация о преподавателе";
    Layout = "_Layout_Teacher";

}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <!-- Блок для даты -->
    <div class="col-md-6">
        <h4>Дата</h4>
        <input type="date" class="form-control" placeholder="Выберите дату">
    </div>

    <!-- Блок для студента -->
    <div class="col-md-8">
        <h4>Студент</h4>
        <select class="form-control">
            <option value="">Выберите студента</option>
           @*  @foreach (var item in Model)
            {
                <option value="Student1">@Html.DisplayFor(modelItem => item.StudentName)</option>
            } *@
        </select>
    </div>
</div>
