
@{
    ViewData["Title"] = "Информация о преподавателе";
    Layout = "_Layout_Teacher";

}
<h1>@ViewData["Title"]</h1>
<h4>Дата</h4>
<p>Добавить выбор</p>

<hr />
<h4>Студент</h4>
<p>Добавить выбор</p>



