@{
    ViewData["Title"] = "Помощь";
}
<h1>@ViewData["Title"]</h1>

<p>Переход к руководству пользователя осуществляется <a href="https://nancyzel.github.io/HSESport_userhelp/">по ссылке</a>.</p>
<p>По всем проблемам обращайтесь в техподдержку: <a href="https://docs.google.com/forms/d/e/1FAIpQLSeE0r2e27kae_HutH6ur5TQJhHhm6WDZQx7TU_M7cx98CyXeA/viewform?usp=dialog">ссылка на Google-форму</a>.</p>

