@{
    ViewData["Title"] = "Помощь";
    if (ViewBag.UserRole == "Student")
    {
        Layout = "_Layout_Student";
    }
    else if (ViewBag.UserRole == "Teacher")
    {
        Layout = "_Layout_Teacher";
    }
    else
    {
        Layout = "_Layout";
    }
}
<h1>@ViewData["Title"]</h1>

<p>Переход к руководству пользователя осуществляется <a href="https://nancyzel.github.io/HSESport_userhelp/">по ссылке</a>.</p>
<p>По всем проблемам обращайтесь в техподдержку: <a href="https://docs.google.com/forms/d/e/1FAIpQLSeE0r2e27kae_HutH6ur5TQJhHhm6WDZQx7TU_M7cx98CyXeA/viewform?usp=dialog">ссылка на Google-форму</a>.</p>

