@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>По всем вопросам обращайтесь в техподдержку: <a href="https://docs.google.com/forms/d/e/1FAIpQLSeE0r2e27kae_HutH6ur5TQJhHhm6WDZQx7TU_M7cx98CyXeA/viewform?usp=dialog">ссылка на Google-форму</a>.</p>
</div>
