@{
    ViewData["Title"] = "Главная";
}

<div class="text-center mt-5">
    <h1 class="display-4">Добро пожаловать!</h1>
</div>
<div class="enter-buttons d-flex flex-column align-items-center mt-4">
    <a class="btn btn-primary mb-3" asp-area="" asp-controller="Home" asp-action="StudentAuthorization">Войти через профиль студента</a>
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="TeacherAuthorization">Войти через профиль преподавателя</a>
</div>
<div class="info-section mt-5">
    <div class="d-flex justify-content-between">
        <a class="btn btn-primary btn-lg w-100" asp-area="" asp-controller="Home" asp-action="Schedule">Расписание занятий</a>
        <a class="btn btn-primary btn-lg w-100" asp-area="" asp-controller="Home" asp-action="LoginIssues">Проблемы со входом</a>
    </div>
</div>
