@{
    ViewData["Title"] = "Главная";
}

<div class="text-center mt-5">
    <h1>Добро пожаловать!</h1>
</div>

<div class="wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="tab-container d-flex justify-content-center mb-4">
                <div class="login-form bg-primary p-4 rounded">
                    <div class="enter-buttons d-flex flex-column align-items-center">
                        <a class="btn" asp-area="" asp-controller="Home" asp-action="StudentAuthorization">Войти через профиль студента</a>
                        <a class="btn" asp-area="" asp-controller="Home" asp-action="TeacherAuthorization">Войти через профиль преподавателя</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="text-center mt-5">
                <h2>Новости</h2>
            </div>
            <iframe src="https://perm.hse.ru/students/hsessc" width="600" height="400"></iframe>
        </div>
    </div>
</div>