@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
</div>
<div class="enter-buttons">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="StudentAuthorization"><u>Войти через профиль студента</u></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TeacherAuthorization"><u>Войти через профиль преподавателя</u></a>
</div>
