@{
    ViewData["Title"] = "Новости";
}
<h1>@ViewData["Title"]</h1>

<p>Скоро здесь будут новости Вышки про спорт. А пока вы можете почитать, что есть интересного на <a href="https://perm.hse.ru/scs/fizvos/section">сайте НИУ ВШЭ в Перми</a>.</p>


