@{
    ViewData["Title"] = "Новости";
    if (ViewBag.UserRole == "Student") {
        Layout = "_Layout_Student";
    }
    else if (ViewBag.UserRole == "Teacher") {
        Layout = "_Layout_Teacher";
    }
    else {
        Layout = "_Layout";
    }
}
<h1>@ViewData["Title"]</h1>
<div class="wrapper" style="height:520px">
    <iframe src="https://perm.hse.ru/scs/fizvos/" style="width:100%; height:100%"></iframe>
</div>
@* <p>Скоро здесь будут новости Вышки про спорт. А пока вы можете почитать, что есть интересного на <a href="https://perm.hse.ru/scs/fizvos/section">сайте НИУ ВШЭ в Перми</a>.</p> *@


