@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Расписание занятий";
}

<h1>@ViewData["Title"]</h1>
<p>Здесь будет расположено расписание занятий по спортивным секциям.</p>
<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><u>Редактировать расписание через профиль преподавателя</u></a>
</div>
