@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Расписание занятий";
    if (ViewBag.UserRole == "Student")
    {
        Layout = "_Layout_Student";
    }
    else if (ViewBag.UserRole == "Teacher")
    {
        Layout = "_Layout_Teacher";
    }
    else
    {
        Layout = "_Layout";
    }
}

<h1>@ViewData["Title"]</h1>
<img src="/images/Расписание-1.jpg" alt="Расписание стр.1" style="width: 100%; vertical-align: middle;">
<img src="/images/Расписание-2.jpg" alt="Расписание стр.2" style="width: 100%; vertical-align: middle;">
<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TeacherAuthorization"><u>Редактировать расписание через профиль преподавателя</u></a>
</div>
