@model HSESport_web_app_trial2.Models.Students

@{
    ViewData["Title"] = "Вход в систему";
}
<div class="text-center mt-5">
    <h1>Вход в систему через профиль студента</h1>
</div>

<div class="tab-container d-flex justify-content-center mb-4">
    <a href="#" class="tab-button">Студент</a>
    <a class="tab-button active" asp-area="" asp-controller="Home" asp-action="TeacherAuthorization">>Преподаватель</a>
</div>

<div class="login-form bg-primary text-white p-4 rounded">
    <form asp-controller="Home" asp-action="StudentEnter">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mp-3">
            <label asp-for="Email" class="control-label">Введите логин/почту</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="control-label">Введите пароль</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-light">Войти</button>
        </div>
    </form>

    <a href="@Url.Action("Index", "Home")" class="text-white align-content-center">Вернуться на главный экран</a>
</div>

