@{
    ViewData["Title"] = "Студент";
    Layout = "Layout_Student";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать, студент!</h1>
</div>
<div class="enter-buttons">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="StudentAuthorization"><u>Просмотреть информацию об имеющихся посещениях</u></a>
</div>
