@model HSESport_web_app_trial2.Models.Authorization

@{
    ViewData["Title"] = "Студент";
    Layout = "Layout_Student";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать, студент!</h1>
</div>
@* 
<form asp-controller="Home" asp-action="StudentPersonalInformation">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserEmail" value="@Model.UserEmail">
    <input type="hidden" asp-for="UserPassword" value="@Model.UserPassword">
    <div class="form-group">
        <input type="submit" value="Просмотреть информацию о своих посещениях" />
    </div>
</form> *@
