@model HSESport_web_app_trial2.Models.BaseUserModel

@{
    ViewData["Title"] = "Вход в систему";
}
<h1>Вход в систему через профиль преподавателя</h1>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TeacherAuthorization"><u>Войти через профиль преподавателя</u></a>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="TeacherEnter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <p><font color="red">Преподаватель с данным адресом почты и/или паролем не найден. Попробуйте снова</font></p>
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>